<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>naverlogin-$(NAVER_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>NAVER_CLIENT_ID</key>
	<string>$(NAVER_CLIENT_ID)</string>
	<key>NAVER_CLIENT_SECRET</key>
	<string>$(NAVER_CLIENT_SECRET)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>일정 알림을 보내기 위해 알림 권한이 필요합니다.</string>
</dict>
</plist>
